<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://brovee.myds.me:5000/d/f/webapi/entry.cgi/SYNO.SynologyDrive.Files/HUSAIHO_sign.ipa?api=SYNO.SynologyDrive.Files&method=download&version=1&files=%5B%22id%3A703101433364353024%22%5D&force_download=true</string>
               </dict> 
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>me.myds.brovee.lusir</string>
               <key>bundle-version</key>
               <string>1.2</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>lusir</string>
               <key>title</key>
               <string>lusir</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
